VERIDISE-002 : Eddsa Malleability

Problem : Due to the malleability of
signatures, an attacker with access to a valid signature on the blockchain can generate other
signatures that will pass verification

Solution : Apply the check mentioned in RFC8032 section 8.4 paragraph 2 to prevent
signature malleability

Note that ECDSA webauthn implementation is malleable, but some clunky systems expect signatures to be unique. This will allow an attacker to perform tasks on behalf of a user. (Mtgox design flaw is an example).

Solved by commit

https://github.com/get-smooth/crypto-lib/commit/0af3c3cae84b29a14fa374a29824dc3abbb3d586

Closed as issue correction validated by Veridise final report.